body {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.pic {
    width: 700px;
    height: 700px;
    border: 2px solid;
    margin: 0 auto;
}

.graph {
    width: 700px;
    height: 700px;
    border: 2px solid;
    margin: 0 auto;
}

 svg path, line {
    fill: none;
    stroke: #212121;
    width: 1px;
 }
 svg text {
    font: 8px Verdana;
}
